<ion-view title="About Us">
  	<ion-content>
  		<div class="padding">
  			 <h2 class="page-header">
                    About Us
                </h2>
                <p class="text-justify">
                     In todays competition where more and more buying is moving towards online ecommerce, businesses are under tremendous pressure to offer competitive prices.  The price you buy at, plays a major role in how you can competitively price your end products.
                </p>
				<p class="text-justify">
					A large part of business buying is still bounded by geographical boundaries, finding the appropriate brands/suppliers, commission to various distributors and middlemen etc.
				</p>
				<p class="text-justify">
					We aim to solve this problem through our unique platform, which for the 1st time allows businesses to buy stuff in large volumes online.
				</p>
				<p class="text-justify">
					Products on our platform are very competitively priced because we deal directly with brands & manufacturers. Due to our global operations we are able to provide you volume based discounts.
				</p>
				<p class="text-justify">
					To start with we also offer cash on delivery of up to Rs. 25000.
                </p>
  		</div>
  	</ion-content>
</ion-view>
