<ion-view title="FAQ">
  	<ion-content>
      	<ion-list class="accordion">
      		<ion-item class="item-stable" ng-click="toggleGroup(1)" ng-class="{active:isGroupShown(1)}">
      			<i class="icon" ng-class="isGroupShown(1) ? 'ion-minus' : 'ion-plus'"></i>
      			Why Bulkwize?
      		</ion-item>
      		<ion-item class="item-accordion"  ng-show="isGroupShown(1)">
            	Bulkwize is India’s first and largest E-Distributor. We are directly connecting every major brand across multiple categories to every retailer in the country.  Any retailer, through the app has access to crores of products across hundreds of categories from thousands of brands. They can buy 24x7, avail every scheme on offer by every brand or manufacturer, get their order delivered directly to shop and communicate directly with the brand teams. Most importantly, every retailer gets access to structured credit for their working capital needs from Just Pay Credit.
          	</ion-item>

          	<ion-item class="item-stable" ng-click="toggleGroup(2)" ng-class="{active:isGroupShown(2)}">
      			<i class="icon" ng-class="isGroupShown(2) ? 'ion-minus' : 'ion-plus'"></i>
      			What does Bulkwize supply?
      		</ion-item>
      		<ion-item class="item-accordion"  ng-show="isGroupShown(2)">
            	 We distribute across categories and products including FMCG, packaged food, water & beverages, lighting & electricals, mobiles & mobile accessories, consumer durables, cosmetics, watches, auto accessories & auto parts, sports goods, apparel, toys & games, software, religious articles, industrial supplies and much more. We’re constantly adding categories and brands to our list.
          	</ion-item>

          	<ion-item class="item-stable" ng-click="toggleGroup(3)" ng-class="{active:isGroupShown(3)}">
      			<i class="icon" ng-class="isGroupShown(3) ? 'ion-minus' : 'ion-plus'"></i>
      			How can I sign up on Bulkwize as a Retailer?
      		</ion-item>
      		<ion-item class="item-accordion"  ng-show="isGroupShown(3)">
            	  It’s as simple as downloading the free mobile app and registering your business. Then you can immediately start buying! Once you have registered, you can immediately apply for credit facilities from the app itself, upload your documents, and within 48-96 hours you will receive a notification of your credit eligibility and amount. There are no sign-up fees, no minimum buys, no membership charges and no processing fees. You can also email us at <strong><em><a href="mailto:retailer@justbuylive.com">retailer@justbuylive.com</a></em></strong> and we’ll assist you in setting up your account.
          	</ion-item>

          	<ion-item class="item-stable" ng-click="toggleGroup(4)" ng-class="{active:isGroupShown(4)}">
      			<i class="icon" ng-class="isGroupShown(4) ? 'ion-minus' : 'ion-plus'"></i>
      			How do I pay for goods bought on Bulkwize?
      		</ion-item>
      		<ion-item class="item-accordion"  ng-show="isGroupShown(4)">
            	  We have built the most advanced yet 'simple to use' payment processing system. You can pay using your Just Pay Credit Lines, Netbanking, Cash Wallets, Debit Cards, Credit Cards and of course Cash on Delivery and Credit/Debit Card on Delivery. You can also pay using any combination of these payment modes. Bulkwize is all about flexibility, even when it comes to payment.
          	</ion-item>

          	<ion-item class="item-stable" ng-click="toggleGroup(5)" ng-class="{active:isGroupShown(5)}">
      			<i class="icon" ng-class="isGroupShown(5) ? 'ion-minus' : 'ion-plus'"></i>
      			When and how will my orders be delivered?
      		</ion-item>
      		<ion-item class="item-accordion"  ng-show="isGroupShown(5)">
            	  Logistics is our strong suit and we can deliver to your shop, godown or warehouse at
            	the most convenient time for you in the shortest time. We are a Pan India operation working in 
            	partnership with India’s largest delivery companies to get you every order on time, every time.
          	</ion-item>

          	<ion-item class="item-stable" ng-click="toggleGroup(6)" ng-class="{active:isGroupShown(6)}">
      			<i class="icon" ng-class="isGroupShown(6) ? 'ion-minus' : 'ion-plus'"></i>
      			What is unique about Bulkwize?
      		</ion-item>
      		<ion-item class="item-accordion"  ng-show="isGroupShown(6)">
            	Bulkwize is run by a team that has a varied and detailed experience in retail, brand management 
        		and most importantly real day-to-day management of distribution. We will continuously replicate 
        		and improve processes based on what brands and retailers need in the real world. We will always 
        		strive to make markets more profitable for all stakeholders. 
          	</ion-item>

          	<ion-item class="item-stable" ng-click="toggleGroup(7)" ng-class="{active:isGroupShown(7)}">
      			<i class="icon" ng-class="isGroupShown(7) ? 'ion-minus' : 'ion-plus'"></i>
      			How do I list my Brand on Bulkwize?
      		</ion-item>
      		<ion-item class="item-accordion"  ng-show="isGroupShown(7)">
            	Simply e-mail us at <strong><em><a href="mailto:brands@justbuylive.com">brands@justbuylive.com</a></em></strong><br/>
	  Our brand management team will immediately contact you to help you sign up with us. Yes, it’s that simple.
          	</ion-item>
      	</ion-list>
  	</ion-content>
</ion-view>
