<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <a href="#/app/home"><img src="img/home.png" class="menu_home"></a>
      </ion-nav-buttons>
        <ion-nav-buttons side="right" class="topbar_menu">
            <button class="button" ui-sref="app.login">
                <i class="icon ion-person"></i> 
            </button>
            <button class="button" ui-sref="app.cart">
                <i class="icon ion-bag"></i>
                <span  class="badge badge-assertive cartnumber" ng-show="cartNumber != 0">{{cartNumber}}</span>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-calm">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <div class="bar bar-pink has-header">
            <div>Welcome John</div>
        </div>
    <ion-content class="has-subheader">
        
      <ion-list >
        <ion-item menu-close href="#/app/login">
            Login
        </ion-item>
        <ion-item menu-close href="#/app/register">
            Register
        </ion-item>
        <ion-item menu-close href="#/app/supplier">
            I am a supplier
        </ion-item>
        <ion-item menu-close href="#/app/aboutus">
            About Us
        </ion-item>
        <ion-item menu-close href="#/app/faq">
            FAQ
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
