<ion-view title="Register">
  <ion-content class="has-header">
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input item-stacked-label">
            <span class="input-label">Company/Shop Name</span>
            <input type="text" placeholder="XYZ">
            <div class="error">This field is Required</div>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Mobile Number</span>
            <input type="text" placeholder="+91 XXXXXXXXXX">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
            <input type="text" placeholder="****">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Confirm Password</span>
            <input type="text" placeholder="****">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">First Name <sup>*</sup></span>
            <input type="text" placeholder="John">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Last Name</span>
            <input type="text" placeholder="Doe">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">PAN Number</span>
            <input type="text" placeholder="1234578">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="text" placeholder="sample@sample.com">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Shop Address</span>
            <textarea></textarea>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Shop City</span>
            <input type="text" placeholder="Bangalore">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Zip Code</span>
            <input type="text" placeholder="560012">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Delivery Address</span>
            <textarea></textarea>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Delivery City</span>
            <input type="text" placeholder="Bangalore">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Delivery Code</span>
            <input type="text" placeholder="560012">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Consumer Type</span>
            <select>
                <option>--Select Type--</option>
                <option>Supplier</option>
                <option>Buyer</option>
            </select>
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
