<ion-view title="Search">
	<div class="item-input-inset has-header padding_6">
		<label class="item-input-wrapper">
		    <i class="icon ion-ios-search placeholder-icon"></i>
		    <input type="search" placeholder="Search">
		</label>
		<button class="button button-small button-calm">
	     	<i class="icon ion-ios-search"></i>
	    </button>
	</div>
  	<ion-content class="has-subheader">
  		<div class="list font_price">
		    <a class="item item-thumbnail-left" href="#">
		      	<img src="img/ionic.png">
		      	<h2>Pretty Hate Machine</h2>
		      	<p>Nine Inch Nails</p>
		      	<div class="price">$18.00</div>
		    </a>
		    <a class="item item-thumbnail-left" href="#">
		      	<img src="img/ionic.png">
		      	<h2>Sample Bag</h2>
		      	<p>Nine Inch Nails</p>
		      	<div class="price"><strike>$23.00</strike></div>
		      	<div class="discount">$9.00</div>
		    </a>
		    <a class="item item-thumbnail-left" href="#">
		      	<img src="img/ionic.png">
		      	<h2>Pretty Hate Machine</h2>
		      	<p>Nine Inch Nails</p>
		      	<div class="price">$18.00</div>
		    </a>
		    <a class="item item-thumbnail-left" href="#">
		      	<img src="img/ionic.png">
		      	<h2>Sample Bag</h2>
		      	<p>Nine Inch Nails</p>
		      	<div class="price"><strike>$23.00</strike></div>
		      	<div class="discount">$9.00</div>
		    </a>
		    <a class="item item-thumbnail-left" href="#">
		      	<img src="img/ionic.png">
		      	<h2>Pretty Hate Machine</h2>
		      	<p>Nine Inch Nails</p>
		      	<div class="price">$18.00</div>
		    </a>
		    <a class="item item-thumbnail-left" href="#">
		      	<img src="img/ionic.png">
		      	<h2>Sample Bag</h2>
		      	<p>Nine Inch Nails</p>
		      	<div class="price"><strike>$23.00</strike></div>
		      	<div class="discount">$9.00</div>
		    </a>
		</div>
  	</ion-content>
</ion-view>
