<ion-view title="Head & Shoulders" ng-init="count=0">
	<div class="item-input-inset has-header padding_6">
		<label class="item-input-wrapper">
		    <i class="icon ion-ios-search placeholder-icon"></i>
		    <input type="search" placeholder="Search" ng-model="search">
		</label>
		<button class="button button-small button-calm" ui-sref="app.search({ searchId: search})">
	     	<i class="icon ion-ios-search"></i>
	    </button>
	</div>
	<div class="bar bar-pink has-subheader">
  		<div>{{categoryName}}</div>
	</div>
  	<ion-content class="has-subofheader">
  		<ion-list class="font_price category_list">
		    <ion-item ng-repeat="list in lists">
		    	<div class="left_thumb">
		      		<img src="http://www.allure.com/images/beauty-products/hair/2013/head-shoulders-damage-rescue-shampoo.jpg">
		      	</div>
		      	<div>
			      	<h2>{{list.Bulkwize.name}}</h2>
			      	<p>{{list.Bulkwize.description}}</p>
			    </div>
			    <div class="clear"></div>

				<div class="mt_10" ng-if="list.Bulkwize.variants.length">
					<table class="table">
						<tr>
							<th>Size</th>
							<th>Case count</th>
							<th>Price</th>
							<th>Ordr. Qty</th>
						</tr>
						<tbody>
							<tr ng-repeat = "variant in list.Bulkwize.variants">
								<td>12</td>
								<td>{{variant.count_in_case}}</td>
								<td>{{variant.MRP_unit}}</td>
								<td>
									<button class="icon ion-plus-round icon-plus-round" ng-click="count = count + 1"></button>
							      	<span class="product-quantity">{{count}}</span>
							      	<button class="icon ion-minus-round icon-minus-round" ng-disabled="count == 0" ng-click="count = count - 1"></button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="button-bar custom_view_button mt_10">
				  	<a class="button button-calm" ui-sref="app.categorydetail">View</a>
				  	<a class="button button-assertive">Add to Cart</a>
				</div>
		    </ion-item>
		</ion-list>
		<!-- <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll> -->
  	</ion-content>
</ion-view>
