  <ion-view title="Order Summary">
    <ion-content class="has-subheader">
		<div class="list card" >
            <div class="item text-center">
               Your order has been successfully placed !!! Please find below the details of your order.
			   <h2>Your order number is {{cartDetails.id}}</h2>
            </div>
        </div>
        <div>
          <div class="total">&nbsp Total Order Amount: {{cartDetails.totalOrderValue | number:2}}</div><br>
          <div class="total">&nbsp Delivery Charge: {{cartDetails.deliveryCharge | number:2}}</div><br>
          <div class="total">&nbsp Total Payment Amount: {{cartDetails.total_payable_amnt | number:2}}</div><br>
          <div class="total">&nbsp Created Date: {{cartDetails.createdAt | date:'dd-MM-yyyy'}}</div><br>
          <div class="total"><b>&nbsp Shipping Address :-</b> <br>&nbsp {{cartDetails.shipping_address.address1}},</br>&nbsp {{cartDetails.shipping_address.address2}},<br>&nbsp {{cartDetails.shipping_address.city}},  {{cartDetails.shipping_address.postcode}}</div><br>
        </div>
    	<div class="list font_price category_list">
		    <div class="item" ng-repeat="orderDetail in cartDetails.products">
		    	<div ui-sref="app.categorydetail({ pId: orderDetail.id})">
			    	<div class="left_thumb">
			      		<img src="http://52.73.228.44:8080{{orderDetail.productImageURL}}">
			      	</div>
			      	<div>
				      	<h2>{{orderDetail.productBrandName}}</h2>
				      	<p>{{orderDetail.productShortSummary}}</p>
				    </div>
			    	<div class="clear"></div>
			    </div>

			    <div class="mt_10">
					<table class="table">
						<tr>
              <th>Size</th>
							<th>Case of x units</th>
							<th width="60%">Price/Unit</th>
							<th>No of cases</th>
						</tr>
						<tbody>
							<tr ng-repeat="productVariant in orderDetail.variants">
                <td>
									<span>{{productVariant.productUnitSizeWeightQty}}</span>
								</td>
								<td>{{productVariant.productCountInCase}}</td>
								<td>MRP: <span style='color:black;text-decoration:line-through'>
							                <span style='color:red'>
											    {{productVariant.productMRPUnit}}
											</span>
										</span>
							<div>You Pay: {{productVariant.productMRPUnit*(100-productVariant.productDiscountPercentage)/100 | number:2}}</div>
							<div class="red">{{productVariant.productDiscountPercentage}}% off</div></td>
              <td>
                  {{productVariant.quantity}}
              </td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
  	</ion-content>
</ion-view>
