<ion-view title="">
	<div class="item-input-inset has-header padding_6">
		<label class="item-input-wrapper">
		    <i class="icon ion-ios-search placeholder-icon"></i>
		    <input type="search" placeholder="Search" ng-model="search">
		</label>
		<button class="button button-small button-calm" ui-sref="app.search({ searchId: search})">
	     	<i class="icon ion-ios-search"></i>
	  </button>
	</div>
  	<ion-content class="has-subheader">
		<ion-slide-box on-slide-changed="slideHasChanged($index)">
		  	<ion-slide ng-repeat="bannerImage in promotionImage">
		    	<div class="box">
		    		<img ng-src="{{envHost+bannerImage}}" alt="" class="img-responsive height1">
		    	</div>
		  	</ion-slide>
		</ion-slide-box>
		<div class="thumbnailSlider">
			<div class="row nop_b text-uppercase">
			  	<div class="col col-75 font_16">Brands with maximum discounts</div>
				<div class="col col-26 text-right">
					<a ui-sref="app.brand">View All</a>
				</div>

			</div>
			<ion-slide-box on-slide-changed="slideHasChanged($index)" ng-if="isProduct">
			  	<ion-slide  ng-repeat ="productList in productLists">
			    	<div class="row">
			            <div class="col col-33" ng-repeat ="product in productList">
			                <a ui-sref="app.categorydetail({ pId: product.id})">
			                	<img ng-src="{{envHost+product.productBrandImageURL}}" />
			                <a ui-sref="app.subcategory({ prodname: product.productBrandName})">
			                	<img ng-src="{{envHost+product.productImageURL}}" />
								<span class="perctenage_layout"> {{product.maxDisc}} % Off</span>
			                </a>
			            </div>
			        </div>
			  	</ion-slide>
			</ion-slide-box>
		</div>
		<div class="clear"></div>
		<hr class="hr">
		<div class="thumbnailSlider">
			<div class="row nop_b text-uppercase">
			  	<div class="col col-75 font_16">Categories</div>
			</div>
			<owl-slider class="owl-carousel">
	           <div class="item" owl-carousel-item="" ng-repeat="items in category">
	              	<a ui-sref="app.subcatbrand({ subId: items.Bulkwize.id, productName : items.Bulkwize.category_name})">
	              		<img ng-src="{{envHost+items.Bulkwize.category_img_url}}" />
	              		<span class="perctenage_layout"> {{items.Bulkwize.maximum_discount_percentage}} % Off</span>
	              		<div>{{items.Bulkwize.category_name | limitTo: 20}} <span ng-show="items.Bulkwize.category_name.length > 20">...</span></div>
	              	</a>
	            </div>
	        </owl-slider>
		</div>
  	</ion-content>
</ion-view>
