<ion-view title="My orders">
    <ion-content>
        <div class="list card" ng-if="!isMyOrders">
            <div class="item text-center">
               Currenty  you dont have any order details.
            </div>
        </div>

        <ion-list class="accordion" ng-if="isMyOrders">
            <ion-item class="item-stable" ng-repeat-start="myOrder in myOrders" ng-click="toggleGroup($index)" ng-class="{active:isGroupShown($index)}">
                <i class="icon" ng-class="isGroupShown($index) ? 'ion-minus' : 'ion-plus'" ></i>
                <b>Order Id :- </b>{{myOrder.Bulkwize.id}}&nbsp&nbsp&nbsp&nbsp<b>Order Amount :-</b> Rs. {{myOrder.Bulkwize.totalOrderValue | number:2}}
            </ion-item>
            <ion-item class="item-accordion item-align" ng-repeat-end  ng-show="isGroupShown($index)">
              <p><b>Order Created On:-</b> {{myOrder.Bulkwize.createdAt | date:'dd-MM-yyyy'}}</p>
            <div class="left_thumb">
              <img src="{{envHost+myOrder.Bulkwize.products[0].productBrandImageURL}}">
            </div>
            <div class="padding">
        			<h3>{{myOrder.Bulkwize.products[0].productDisplayTitle}}</h3>
        			<p>{{myOrder.Bulkwize.products[0].productDescription}}</p>
        			<br>
        		</div>
                <table class="table">
                    <tr>
                        <th>Units/case</th>
                        <th>Price/Unit</th>
                        <th>No of cases</th>
                    </tr>
                    <tbody>
                    <tr ng-repeat="productVariant in myOrder.Bulkwize.products[0].variants">
                        <td>{{productVariant.productCountInCase}}</td>
                        <td>
                            MRP: <span style='color:black;text-decoration:line-through'>
							                <span style='color:red'>
											    {{productVariant.productMRPUnit}}
											</span>
										</span>
							<div>Disc. price: {{productVariant.productMRPUnit*(100-productVariant.productDiscountPercentage)/100 | number:2}}</div>
							<div class="red">{{productVariant.productDiscountPercentage}}% off</div>
                        </td>
						<td>
						    {{productVariant.quantity}}
						</td>
                    </tr>
                    </tbody>
                </table>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
