<ion-view view-title="Shipping">
  	<ion-content>
  		<div class="padding">
  			<p>Please enter your shipping details for the order.</p>
  		</div>
		<form class="form-horizontal padding_col6_left" role="form" name="shipping" novalidate method="post" ng-submit="submit(shipping.$valid, user)" autocomplete="off">
	      	<div class="list">

		        <label class="item item-input item-stacked-label">
		            <span class="input-label">Address1<sup>*</sup></span>
		            <textarea maxlength="500" name = "address1" id="address1" ng-model="user.address1" required></textarea>
		            <div class="validation-error" ng-if="(shipping.$submitted || shipping.address1.$touched)" ng-messages="shipping.address1.$error" >
		                <div ng-message="required" class="error">Address is required</div>
		            </div>
		        </label>

		        <label class="item item-input item-stacked-label">
		            <span class="input-label">Address2</span>
		            <textarea maxlength="500" name = "address2" id="address2" ng-model="user.address2" ></textarea>
		        </label>

		        <label class="item item-input item-stacked-label">
		            <span class="input-label">Postcode <sup>*</sup></span>
		            <input type="number" placeholder="PostCode"  name = "postcode" id="postcode" class = "error" ng-model="user.postcode" required>
		            <div class="validation-error" ng-if="(shipping.$submitted || shipping.postcode.$touched)" ng-messages="shipping.postcode.$error" >
		                <div ng-message="required" class="error">Postcode is required</div>
		            </div>
		        </label>

		        <label class="item item-input item-stacked-label">
		            <span class="input-label">City <sup>*</sup></span>
		            <input type="text" placeholder="city"  name = "city" id="city" class = "error" ng-model="user.city" ng-value="Bangalore" readonly="readonly" required>
		            <div class="validation-error" ng-if="(shipping.$submitted || shipping.city.$touched)" ng-messages="shipping.city.$error" >
		                <div ng-message="required" class="error">City is required</div>
		            </div>
		        </label>

		        <label class="item item-input item-stacked-label">
		            <span class="input-label">State <sup>*</sup></span>
		            <input type="text" placeholder="state"  name = "state" id="state" class = "error" ng-model="user.state" ng-value="Karnataka" readonly="readonly" required>
		            <div class="validation-error" ng-if="(shipping.$submitted || shipping.state.$touched)" ng-messages="shipping.state.$error" >
		                <div ng-message="required" class="error">State is required</div>
		            </div>
		        </label>

		        <label class="item item-input item-stacked-label">
		            <span class="input-label">Country <sup>*</sup></span>
		            <input type="text" placeholder="country"  name = "country" id="country" class = "error" ng-model="user.country" ng-value="India" readonly="readonly" required>
		            <div class="validation-error" ng-if="(shipping.$submitted || shipping.country.$touched)" ng-messages="shipping.country.$error" >
		                <div ng-message="required" class="error">Country is required</div>
		            </div>
		        </label>
		        
		        
		        <label class="item">
		          <button class="button button-block button-positive" type="submit">Submit</button>
		        </label>
	      	</div>
	    </form>
  	</ion-content>
</ion-view>